<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Your Public Cloud - MyDrive</title>
</head>
<body>
  <main class="container">
    <span class="brand-text">mydrive</span>
    <span class="sub-text">One Stop for storing and managing all your files</span>
    <div class="button-group">
      <a href="/login" type="button">Login</a>
      <a href="/register" type="button">Register</a>
    </div>
  </main>
</body>
</html>